<article>
    <img src="<%=user.photo%>", alt="post_image" height='200', width='200' />
    <article >
        <h2><%= user.name%></h2> 
        <p>Number of posts: <%=user.posts_counter%></p>
    </article>
</article>