<%= render @user %>
<%@post.each do |post|%>
<%= render post %>
<article>
    <%post.last_five_comments.each do |comment|%>
    <p><%=post.author.name%>: <%=comment.text%></p>
    <%end%>
</article>
<%end%>

<button>Pagination</button>