.posts,
.comments {
  margin: 10px 30px;
  padding: 10px 30px;
  width: 95%;
  border-radius: 12px;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-counter {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.post-comment-like {
  align-self: flex-end;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-btn {
  padding: 10px 15px;
  margin: 10px 40px;
  border: 2px solid grey;
  border-radius: 12px;
  align-self: center;
}

.post-like-btn {
  padding: 100px !important;
  margin: 20px;
}

.post-btn:active,
.post-like-btn:active {
  background-color: #dbdbdb;
}

button:hover,
.post-like-btn:hover {
  cursor: pointer;
}
